$breakpoints: (
  sm: 40em,
  md: 52em,
  lg: 64em,
  xl: 80em
);

// $breakpoints: (
//   sm: var(--breakpoint-sm), // 40em;
//   md: var(--breakpoint-md), // 52em;
//   lg: var(--breakpoint-lg), // 64em,
//   xl: var(--breakpoint-xlg)
// );
