.chart-legend {
  padding: 0;
  margin: 0;
}

.chart-legend__item {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: var(--color-grey-dark);

  &::before {
    content: "";
    background: var(--color-secondary);
    border-radius: 2px;
    width: 15px;
    height: 4px;
    display: block;
    margin-right: 5px;
  }
}

.chart-legend__item--primary {
  &::before {
    background: var(--color-primary);
  }
}
