:host {
  display: block;
}

@each $name, $value in $spaces {
  :host(.p-#{$name}) {
    padding: var($value);
  }
  :host(.py-#{$name}) {
    padding-top: var($value);
    padding-bottom: var($value);
  }
  :host(.px-#{$name}) {
    padding-left: var($value);
    padding-right: var($value);
  }
}
