:host {
  display: block;
}

@each $name, $value in $spaces {
  :host(.p-#{$name}) {
    padding: var($value);
  }
  :host(.pt-#{$name}) {
    padding-top: var($value);
  }
  :host(.pb-#{$name}) {
    padding-bottom: var($value);
  }
  :host(.py-#{$name}) {
    padding-top: var($value);
    padding-bottom: var($value);
  }
  :host(.px-#{$name}) {
    padding-left: var($value);
    padding-right: var($value);
  }
  :host(.m-#{$name}) {
    margin: var($value);
  }
  :host(.mt-#{$name}) {
    margin-top: var($value);
  }
  :host(.mb-#{$name}) {
    margin-bottom: var($value);
  }
  :host(.my-#{$name}) {
    margin-top: var($value);
    margin-bottom: var($value);
  }
  :host(.mx-#{$name}) {
    margin-left: var($value);
    margin-right: var($value);
  }
}
