/* @font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
} */
@font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* @font-face {
    font-family: 'SFProDisplay';
    src: url('SFProDisplay-LightItalic.woff2') format('woff2'),
        url('SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
 */


@font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
} */

/* @font-face {
    font-family: 'SFProDisplay';
    src: url('/assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
 */
