:host {
  display: inline-block;
  background: var(--color-white);
  box-shadow: var(--shadow-default);
  border-radius: 4px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-12);
  padding-left: var(--space-24);
  padding-right: var(--space-24);
  padding-top: var(--space-24);
  ~ .card__body {
    padding-top: 0;
  }
}

.card__body {
  padding: var(--space-24);
}

.card__handle {
  margin-right: -8px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--highlighted {
  box-shadow: var(--shadow-heavy);
}
